.title {
  text-align: right;
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
  @media (min-width: 1200px) {
    margin-bottom: 80px;
  }
  @media (max-width: 450px) {
    font-size: 28px;
  }
  span {
    color: #00e77f;
  }
}

.grid {
  display: grid;
  @media (min-width: 875px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid__item_1 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
}
.grid__item_2 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 3;
  }
}
.grid__item_3 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 3;
  }
}
.grid__item_4 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 2;
  }
}
.grid__item_5 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 2;
  }
}
.grid__item_6 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 2;
  }
}
.grid__item_7 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 3;
  }
}
.grid__item_8 {
  margin: 10px;
  @media (min-width: 875px) {
    grid-column-start: span 3;
  }
}
