.btn {
    color: #fff;
    border-radius: 10px;
    padding: 12px 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
        opacity: 0.8;
    }
    &.pink {
        background-color: #FF2363;
    }
    &.darkBlue {
        background-color: #2A2750;
    }
    &.green {
        background-color: #00E77F;
    }
    &.block {
        display: flex;
        width: 100%;
    }
}