.menu {
}
.toggler {
  padding: 8px 20px 8px 8px;
  &:hover {
    opacity: 1;
  }
  &:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:active {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e;
  }
  span {
    margin: 0 20px;
  }
}
.icon {
}
.arrow {
}
