.wrapper {
  margin-top: 60px;
}
.email {
  @media (min-width: 735px) {
    display: flex;
    align-items: center;
  }
}
.emailField {
  @media (min-width: 735px) {
    margin-right: 20px;
    width: auto;
    flex: 1 1 auto;
  }
}
.emailBtn {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  @media (min-width: 735px) {
    flex: 0 0 245px;
    margin-bottom: 0;
  }
}
.input {
  margin-bottom: 30px;
}
.lastField {
  margin-bottom: 40px;
}

.modalContent {
  width: 100%;
  margin: 0px 10px;
  @media (min-width: 800px) {
    width: 776px;
  }
}

.modalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  span {
    font-size: 20px;
    font-weight: 700;
    @media (min-width: 800px) {
      font-size: 24px;
    }
  }
}
.closeBtn {
  padding: 0;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 25%);
  }
  @media (min-width: 800px) {
    width: 32px;
    height: 32px;
  }
}
.modalForm {
}
.modalTextField {
  margin-bottom: 40px;
}
